<section id="about" class="about" [class.inactive]="activeSection && activeSection!== 'about'" @fadeIn>

  <div class="about-container">
    <div class="about-content">
      <h1>Bienvenue sur mon portfolio !</h1>
      <p>Je m'appelle Cloé Gaspar Cordeiro.</p>
      <p>Développeuse passionnée par la tech, le code propre et les projets qui en jettent. 🚀
        J'aime transformer des idées en applications concrètes, avec du code propre et des designs modernes.</p>
      <p>Quand je ne suis pas devant mon écran, je suis probablement en train de griffonner sur un papier que ce soit du
        dessin, de l'écriture ou ma prochaine maquette, ou à la recherche de la meilleure playlist pour coder 🎧.</p>

      <div class="about-buttons">
        <a href="#projects" class="btn-primary">Voir mes projets</a>
        <a href="#contact" class="btn-secondary">Me contacter</a>
      </div>
    </div>

    <div class="about-image">
      <img src="assets/images/about-photo.jpg" alt="Photo de Cloé Gaspar Cordeiro">
    </div>
  </div>


</section>